body {
    font-family: 'Montserrat';
    background-color: #E1E5EE;
    color: #2A324B;
    margin-left: 150px;
    margin-top: 150px;
    max-width: 1000px;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
}

.tabs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
}

.tabs button {
    background: #2A324B;
    border: none;
    color: #E1E5EE;
    font-size: 13px;
    font-weight: 900;
    padding: 17px 63px;
    justify-content: center;
    white-space: nowrap;
    text-transform: bold;
}

.tabs button.active {
    background-color: #fff;
    color: #2A324B;
}

.content {
    background: #fff;
    padding: 40px;
    font-size: 14px;
    padding-left: 60px;
    min-height: 250px;
}